==============================================
= Ordi {{template.banner.project}} florianccj
= There is a lot of thing                    =
= an other again                             =
= System: {{ansible_facts["lsb"]["description"]}}
==============================================
