<input type="number"(input)="numberEntered = $event.target.value"/>
<br/><br/>
<span [@firstNumberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@firstNumberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@firstNumberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@firstNumberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@firstNumberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@firstNumberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@firstNumberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@firstNumberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@firstNumberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@firstNumberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>
<br/><br/>
<span [@secondNumberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@secondNumberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@secondNumberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@secondNumberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@secondNumberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@secondNumberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@secondNumberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@secondNumberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@secondNumberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@secondNumberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>
<br/><br/>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>
<br/><br/>
<span [@correctNumberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@correctNumberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@correctNumberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@correctNumberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@correctNumberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@correctNumberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@correctNumberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@correctNumberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@correctNumberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@correctNumberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>
